In [1]:
import pandas as pd

# Initial Data Analysis

In [42]:
renamedict = {'# Timestamp':"timestamp", 'MMSI':"mmsi", 'Latitude':"lat", 'Longitude':"long", 'Type of mobile':'type_of_mobile'}
data = pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').rename(columns=renamedict).loc[:,list(renamedict.values())]
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d/%m/%Y %H:%M:%S')
# Nur Class A
data = data[(data['type_of_mobile'] == "Class A") & (data['lat'] <= 90)].drop(columns="type_of_mobile").copy()
data.head()

In [43]:
data.info()

In [44]:
data.describe()

In [45]:
print(f"Anzahl Schiffe: {data['mmsi'].nunique()}")

In [48]:
shipagg = data.groupby('mmsi').agg(timerange=pd.NamedAgg(column="timestamp", aggfunc=lambda col:col.max()-col.min()))
shipagg.head()

In [1]:
import pandas as pd

In [26]:
pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').columns

# Initial Data Analysis

In [42]:
renamedict = {'# Timestamp':"timestamp", 'MMSI':"mmsi", 'Latitude':"lat", 'Longitude':"long", 'Type of mobile':'type_of_mobile'}
data = pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').rename(columns=renamedict).loc[:,list(renamedict.values())]
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d/%m/%Y %H:%M:%S')
# Nur Class A
data = data[(data['type_of_mobile'] == "Class A") & (data['lat'] <= 90)].drop(columns="type_of_mobile").copy()
data.head()

In [43]:
data.info()

In [44]:
data.describe()

In [45]:
print(f"Anzahl Schiffe: {data['mmsi'].nunique()}")
pointspership = data.groupby('mmsi').size()
print(pointspership.describe())

In [48]:
shipagg = data.groupby('mmsi').agg(timerange=pd.NamedAgg(column="timestamp", aggfunc=lambda col:col.max()-col.min()))
shipagg.head()

In [23]:
shipagg.loc[:, ('timestamp', 'min')]

In [1]:
import pandas as pd

In [26]:
pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').columns

# Initial Data Analysis

In [42]:
renamedict = {'# Timestamp':"timestamp", 'MMSI':"mmsi", 'Latitude':"lat", 'Longitude':"long", 'Type of mobile':'type_of_mobile'}
data = pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').rename(columns=renamedict).loc[:,list(renamedict.values())]
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d/%m/%Y %H:%M:%S')
# Nur Class A
data = data[(data['type_of_mobile'] == "Class A") & (data['lat'] <= 90)].drop(columns="type_of_mobile").copy()
data.head()

In [43]:
data.info()

In [44]:
data.describe()

In [45]:
print(f"Anzahl Schiffe: {data['mmsi'].nunique()}")
pointspership = data.groupby('mmsi').size()
print(pointspership.describe())

In [48]:
shipagg = data.groupby('mmsi').agg(timerange=pd.NamedAgg(column="timestamp", aggfunc=lambda col:col.max()-col.min()))
shipagg.head()

In [23]:
shipagg.loc[:, ('timestamp', 'min')]

In [1]:
import pandas as pd

In [26]:
pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').columns

# Initial Data Analysis

In [42]:
renamedict = {'# Timestamp':"timestamp", 'MMSI':"mmsi", 'Latitude':"lat", 'Longitude':"long", 'Type of mobile':'type_of_mobile'}
data = pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').rename(columns=renamedict).loc[:,list(renamedict.values())]
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d/%m/%Y %H:%M:%S')
# Nur Class A
data = data[(data['type_of_mobile'] == "Class A") & (data['lat'] <= 90)].drop(columns="type_of_mobile").copy()
data.head()

In [43]:
data.info()

In [44]:
data.describe()

In [45]:
print(f"Anzahl Schiffe: {data['mmsi'].nunique()}")
pointspership = data.groupby('mmsi').size()
print(pointspership.describe())

In [48]:
shipagg = data.groupby('mmsi').agg(timerange=pd.NamedAgg(column="timestamp", aggfunc=lambda col:col.max()-col.min()))
shipagg.head()

In [23]:
shipagg.loc[:, ('timestamp', 'min')]

In [1]:
import pandas as pd

In [26]:
pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').columns

Index(['# Timestamp', 'Type of mobile', 'MMSI', 'Latitude', 'Longitude',
       'Navigational status', 'ROT', 'SOG', 'COG', 'Heading', 'IMO',
       'Callsign', 'Name', 'Ship type', 'Cargo type', 'Width', 'Length',
       'Type of position fixing device', 'Draught', 'Destination', 'ETA',
       'Data source type', 'A', 'B', 'C', 'D'],
      dtype='object')

# Initial Data Analysis

In [42]:
renamedict = {'# Timestamp':"timestamp", 'MMSI':"mmsi", 'Latitude':"lat", 'Longitude':"long", 'Type of mobile':'type_of_mobile'}
data = pd.read_csv('../workdir/aisdk-2023-11-08-xs.csv').rename(columns=renamedict).loc[:,list(renamedict.values())]
data['timestamp'] = pd.to_datetime(data['timestamp'], format='%d/%m/%Y %H:%M:%S')
# Nur Class A
data = data[(data['type_of_mobile'] == "Class A") & (data['lat'] <= 90)].drop(columns="type_of_mobile").copy()
data.head()

   timestamp       mmsi        lat       long
1 2023-11-08  257038590  57.125193   8.596375
2 2023-11-08  255806465  56.555510  11.041318
5 2023-11-08  219010207  57.592455   9.954670
6 2023-11-08  538008404  55.568373  15.120307
8 2023-11-08  249194000  55.024868  10.995142

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2107146 entries, 1 to 2399998
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   mmsi       int64
 2   lat        float64
 3   long       float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 80.4 MB

In [44]:
data.describe()

                           timestamp          mmsi           lat          long
count                        2107146  2.107146e+06  2.107146e+06  2.107146e+06
mean   2023-11-08 01:57:11.561989120  2.631102e+08  5.620319e+01  1.071427e+01
min              2023-11-08 00:00:00  2.190045e+06  5.682667e+00  3.210520e+00
25%              2023-11-08 00:58:08  2.190070e+08  5.533976e+01  9.473040e+00
50%              2023-11-08 01:57:07  2.198010e+08  5.615412e+01  1.092145e+01
75%              2023-11-08 02:56:26  2.579750e+08  5.712256e+01  1.184790e+01
max              2023-11-08 03:54:27  6.770641e+08  5.878294e+01  8.821972e+01
std                              NaN  9.670375e+07  1.050174e+00  1.996182e+00

In [45]:
print(f"Anzahl Schiffe: {data['mmsi'].nunique()}")
pointspership = data.groupby('mmsi').size()
print(pointspership.describe())

Anzahl Schiffe: 1481
count     1481.000000
mean      1422.785955
std       1536.696524
min          1.000000
25%        156.000000
50%       1194.000000
75%       2324.000000
max      14776.000000
dtype: float64

In [48]:
shipagg = data.groupby('mmsi').agg(timerange=pd.NamedAgg(column="timestamp", aggfunc=lambda col:col.max()-col.min()))
shipagg.head()

                timerange
mmsi
2190045   0 days 03:54:20
205192000 0 days 03:54:20
205198000 0 days 03:54:10
205246000 0 days 03:54:20
205322000 0 days 03:14:41

In [23]:
shipagg.loc[:, ('timestamp', 'min')]

NameError: name 'shipagg' is not defined